# Entornos virtuales
venv/
env/
entorno/

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env
.venv
# Configuración de IDE
.vscode/
.idea/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Distribución
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/